/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Page center layout (for ALL pages) */
.page-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */
  background-color: #f2f7ff;
}

/* Card box */
.card {
  background-color: #ffffff;
  padding: 25px 30px;
  width: 340px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  padding-bottom: 10px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #3187f0; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #0d58d0;
}

.delete-btn {
  background-color: #fc1313;
  color: white;
  margin-top: 10px;
}

.delete-btn:hover{
  background-color: #de3131;
}
/* Button row (Home page) */
.button-row {
  display: flex;
  gap: 12px;
}

.button-row button {
  width: 120px;
}
.edit-delete{
  width: 100%;
  display: flex;
  gap: 10px;
  /* padding: 10px; */

}
/* Links */
.link {
  margin-top: 12px;
  text-align: center;
}


